<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LoginViewController</key>
	<dict>
		<key>LSImpression</key>
		<string>Login page</string>
		<key>LSTrackedEvents</key>
		<array>
			<dict>
				<key>LSEventName</key>
				<string>registerAction</string>
				<key>LSEventSelectorName</key>
				<string>registerAction</string>
			</dict>
			<dict>
				<key>LSEventName</key>
				<string>loginAction</string>
				<key>LSEventSelectorName</key>
				<string>loginAction</string>
			</dict>
			<dict>
				<key>LSEventName</key>
				<string>findPswAction</string>
				<key>LSEventSelectorName</key>
				<string>findPswAction</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
